<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
  </head>
  <body>
    <!-- 
        条件渲染:
            1.v-if
                写法：
                  (1).v-if="表达式"
                  (2).v-else-if="表达式"
                  (3).v-else="表达式"
                适用于:切换频率比较低的场景
                特点:不展示的DOM元素直接被移除
                注意:v-if可以和:v-else-if、v-else一起去使用，但要求结构不能被打断
            2.v-show
                写法:v-show="表达式"  
                适用于:切换频率比较高的场景
                特点:不展示的DOM元素未被移除，仅仅是使用样式隐藏掉
            3.备注
                1.使用v-if时，元素可能无法获取，而v-show一定可以获取到
     -->

    <div id="root">

    <h2>当前的n值是:{{n}}</h2>  
    <button @click="n++">点我n+1</button>
    <!-- <h2 v-show="fale">欢迎来到{{name}}/h2> -->
    <!-- <h2 v-show="1===1">欢迎来到{{name}}/h2> -->
    <!-- <h2 v-show="isLook">欢迎来到{{name}}/h2> -->


    <!-- <h2 v-if="false">欢迎来到{{name}}/h2> -->
    <!-- <h2 v-show="1===1">欢迎来到{{name}}/h2> -->

    <div v-if="n===1">Angular</div>
    <div v-else-if="n===2">React</div>
    <!-- 打断符号，后面判断不生效 -->
    <div>xxx</div> 
    <div v-else-if="n===2">哈哈</div>
    <div v-else>Vue</div>
    
    <template v-if="n==1">
      <h2>你好</h2> 
      <h2>尚硅谷</h2> 
      <h2>北京</h2> 
    </template>
   


    </div>
   


  </body>
  <script type="text/javascript" >
    Vue.config.productionTip = false //阻止 vue 在启动时生成生产提示。
    
    const vm=new Vue({
      el:'#root',
      data:{
        n:0,
      }
    })
  </script>
</html>